html,
body,
#root {
  height: 100%;
  margin: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3.5rem; /* was 2rem, clears nav a bit more */
}
