html, body, #root {
    height: 100%;
    margin: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.0rem;
}

.profile-box{
    width: 60%;
    margin: 40px;
    background-color: #f0f0f0;
    border-radius: 16px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-info{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.info-column{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-size: 1.3rem;
    padding: 20px;
}

.info-header{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-title{
    margin: 0;
    font-size: 1.5rem;
}

.info-button{
    width: fit-content;
    height: fit-content;
}

.info-section{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.sec-name{
    margin-right: 10px;
}

.sec-value{
    border-radius: 16px;
    padding-left: 10px;
    font-size: 1.3rem;
}

.submit-layer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.submit-info{
    width: fit-content;
}
